<!DOCTYPE html>
<html>
<head>
	<title></title>
	 

</head>
<body ng-app>
    
    <input type="text" ng-model="query"/>
    <select ng-model="order">
    	<option value="username">Organiser par nom</option>
    	<option value="content">Organiser par contenu </option>
    </select>


   <div ng-init="users=[{username: 'Marc', content:'Salut les gens'}, {username :'Jean', content:'Je suis content'},{username:'John', content: 'First'}]">

    	<div ng-repeat="user in users| filter:{content: query}| orderBy:order">
	    	<p>
	    	<strong>{{userusername}}</strong><br>
	    	{{user.content}}
	    	</p>
 		</div>
 	</div>
  <!--<input type="text" ng-model="task"/>

 {{task + "Salut"}}-->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"> </script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"> </script>
	 <!-- <script src="app.js"></script> -->
</body>
</html>

